.container.col-md-6
  happy-knowledge-panel(
    ng-repeat="(user, happyKnowledge) in data"
    user="user"
    knowledge="happyKnowledge"
    )
 .container.col-md-6
   .panel.panel-default
     .panel-heading
       | Graph
     .panel-body
       nvd3(
         data="chartData"
         options="chartOptions"
       )
       h2 Chart Data
       pre {{chartData | json}}
       p2 Chart Options
       pre {{chartOptions | json}}
